@import '../../../scss/variables';
@import '../../../scss/mixins';


form {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 20px;

    > div{
        width: 100%;
    }
}