@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.chart {
  width: 288px;
}

.main{
  flex: 1 0 280px
}
