@import '../../scss/variables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal {
  background-color: #fff;
  max-width: 420px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $breakpoint-tablet) {
    max-width: 300px;
  }
}

.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
  @media (max-width: $breakpoint-tablet) {
    text-align: center;
    max-width: 180px;
  }
}

.buttonsWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  @media (max-width: $breakpoint-tablet) {
    gap: 20px;
  }
}

.button {
  display: block;
  flex: 0 0 100px;
}

.buttonReverse {
  color: $colorBlue;
  background-color: transparent;
  border-color: $colorBlue;
}
