@import "../../../scss/variables";

.datePickerIcon:hover{
    cursor: pointer;
}

.datePickerIcon{
    margin-left: -24px;
}

.rdtPickerOpenUpwards div:nth-child(2){
    right: -25px;
    @media screen and (min-width: $breakpoint-tablet) {
        rigth: 0;
    }
}

