@import '../../scss/variables';

.tablewrapper {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

.currencywrapper {
  // display: flex;
  // gap: 30px;
}

.table {
  font-family: $font-default;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  background-color: #4a56e2;
  color: #fff;

  border-radius: 30px;
  background-image: url(./galary/top-vector.svg),
    url(./galary/bottom-vector.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 0 right 0, top 210px right 0;
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    min-width: 335px;
    max-width: 395px;
    width: 100%;
    background-position: top 0 right 0, top 100px right 0;
  }
}

.tableheadtext {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}

.tablebody {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.tablebodytext {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
