/*
  This mixin can be used to set the font-size and line-height in percents:
  @include font-size(fontSize, lineHeight);
*/
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-700.woff") format("woff"), url("../assets/fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../assets/fonts/poppins-v20-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Circe-Bold.otf");
  /* IE9 Compat Modes */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Circe.otf");
  /* IE9 Compat Modes */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Circe', sans-serif;
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
  font-weight: 400;
  overflow-x: hidden;
  background-color: #E7EAF2;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 a,
h1 a:hover,
h1 a:focus, h2 a,
h2 a:hover,
h2 a:focus, h3 a,
h3 a:hover,
h3 a:focus, h4 a,
h4 a:hover,
h4 a:focus, h5 a,
h5 a:hover,
h5 a:focus, h6 a,
h6 a:hover,
h6 a:focus, .h1 a,
.h1 a:hover,
.h1 a:focus, .h2 a,
.h2 a:hover,
.h2 a:focus, .h3 a,
.h3 a:hover,
.h3 a:focus, .h4 a,
.h4 a:hover,
.h4 a:focus, .h5 a,
.h5 a:hover,
.h5 a:focus, .h6 a,
.h6 a:hover,
.h6 a:focus {
  color: var(--color-headline);
  text-decoration: none;
}

h1 > em, h2 > em, h3 > em, h4 > em, h5 > em, h6 > em, .h1 > em, .h2 > em, .h3 > em, .h4 > em, .h5 > em, .h6 > em {
  color: var(--color-accent);
  font-style: normal;
}

h1,
.h1 {
  font-weight: 700;
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

@media (min-width: 1280px) {
  h1,
  .h1 {
    font-size: calc($fontSize / 16)rem;
    line-height: calc($lineHeight / $fontSize);
  }
}

h2,
.h2 {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

h3,
.h3 {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

h4,
.h4 {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

h5,
.h5 {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

h6,
.h6 {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
}

.container {
  padding: 12px 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 45px 16px;
  }
}

/* Class for text that should only be visible to screen readers */
.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}

.contentMaxWidth {
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
  letter-spacing: 0.1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  outline: none;
  padding: 12px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid;
  color: #fff;
  background-color: #24cca7;
  border-color: #24cca7;
}

.button:hover, .button:focus, .button:active {
  color: #4A56E2;
  background-color: transparent;
  border-color: #4A56E2;
}

.button:disabled, .button--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button--secondary {
  color: #4A56E2;
  background-color: transparent;
  border-color: #4A56E2;
}

.button--secondary:hover, .button--secondary:focus, .button--secondary:active {
  color: #fff;
  background-color: #24cca7;
  border-color: #24cca7;
}

.button--small {
  font-size: calc($fontSize / 16)rem;
  line-height: calc($lineHeight / $fontSize);
  text-transform: none;
  padding: 4px 12px;
}

[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select {
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}
/*# sourceMappingURL=main.css.map */