@import '../../scss/variables';

.iconButton {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  border: none;
  margin-right: 3px;
  background: none;
  cursor: pointer;

  &:hover {
    svg:nth-child(1) {
      fill: $colorPink;
    }
  }
}

.iconButtonContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
