@import './mixins';
@import './variables';

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/poppins-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/poppins-v20-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/poppins-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/poppins-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/poppins-v20-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/poppins-v20-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/poppins-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/poppins-v20-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Circe-Bold.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Circe.otf'); /* IE9 Compat Modes */
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: $color-text;
  font-family: 'Circe', sans-serif;
  @include font-size(16, 24);
  font-weight: 400;
  background-color: $colorBG;
}

#{$heading-selectors} {
  font-family: 'Poppins', sans-serif;
  margin: 0;

  a,
  a:hover,
  a:focus {
    color: var(--color-headline);
    text-decoration: none;
  }

  > em {
    color: var(--color-accent);
    font-style: normal;
  }
}

h1,
.h1 {
  font-weight: 700;
  @include font-size(40, 55);

  @media (min-width: $breakpoint-desktop) {
    @include font-size(30, 45);
  }
}

h2,
.h2 {
  @include font-size(30, 45);
}

h3,
.h3 {
  @include font-size(25, 35);
}

h4,
.h4 {
  @include font-size(20, 30);
}

h5,
.h5 {
  @include font-size(18, 20);
}

h6,
.h6 {
  @include font-size(16, 18);
}

.container {
  padding: 0;
}

.pageWrapper {
  display: flex;
  align-items: stretch;
  padding: 12px 20px;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $breakpoint-tablet) {
    padding: 32px;
  }
  @media (min-width: $breakpoint-desktop) {
    padding: 45px 16px;
    flex-direction: row;
    gap: 100px;
  }
}

.aside {
  display: flex;
  justify-content: stretch;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: $breakpoint-tablet) {
    gap: 30px;
  }
}

.aside,
.main {
  display: flex;
  justify-content: stretch;
  height: auto;
  align-items: stretch;
  gap: 30px;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    flex-direction: column;
  }
}

.main {
  width: 100%;
}

// Tables

.transactionsTable {
  border: none;
  border-collapse: collapse;
  vertical-align: middle;
  min-width: 715px;

  thead {
    padding: 16px 20px;
    text-align: left;
  }

  th {
    overflow: hidden;
    background: $white;
  }

  th:first-child {
    border-top-left-radius: $button-border-radius-xl;
    border-bottom-left-radius: $button-border-radius-xl;
  }
  th:last-child {
    border-top-right-radius: $button-border-radius-xl;
    border-bottom-right-radius: $button-border-radius-xl;
  }

  th:nth-child(2) {
    text-align: center;
  }
  th:nth-child(5) {
    text-align: end;
  }

  td:nth-child(2) {
    text-align: center;
  }
    
  td:nth-child(5) {
    text-align: end;
  }
  td:nth-child(6) {
    text-align: end;
    display: flex;
    justify-content: flex-end;
  }

  th,
  td {
    padding: 16px;
  }

  th:first-child,
  td:first-child {
    padding-left: 20px;
  }
  th:last-child,
  td:last-child {
    padding-right: 20px;
  }

  .tableButton{
    max-width: 67px;
    letter-spacing: 0;
  }

  tbody {
    tr:not(:last-child) {
      border-bottom: 1px solid $colorBorder;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    }
  }
}

/* Class for text that should only be visible to screen readers */

.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}

.textAlignR {
  text-align: right;
}
.textAlignL {
  text-align: left;
}

.contentMaxWidth {
  max-width: $contentMaxWidth;
  margin: 0 auto;
}

.button {
  @include font-size(18, 20);
  letter-spacing: 0.1em;
  appearance: none;
  border-radius: $button-border-radius-sm;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  outline: none;
  padding: 12px 30px;
  flex: 1 0 300px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  user-select: none;
  border: 1px solid;

  color: $white;
  background-color: $mainColor;
  border-color: $mainColor;

  &:hover,
  &:focus,
  &:active {
    color: $colorBlue;
    background-color: transparent;
    border-color: $colorBlue;
  }

  &:disabled,
  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &--secondary {
    color: $colorBlue;
    background-color: transparent;
    border-color: $colorBlue;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $mainColor;
      border-color: $mainColor;
    }
  }

  &--small {
    @include font-size(14, 14);
    text-transform: none;
    padding: 4px 12px;
  }
}

// form styles
#{$input-selectors} {
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.active svg {
  fill: #4a56e2 !important;
  box-shadow: 0px 3px 10px rgba(74, 86, 226, 0.5);
}
