@import './mixins';
@import './variables';

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('../assets/fonts/poppins-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/poppins-v20-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/poppins-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/poppins-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
  /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins-v20-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('../assets/fonts/poppins-v20-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/poppins-v20-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/poppins-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/poppins-v20-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Circe-Bold.otf');
  /* IE9 Compat Modes */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Circe.otf');
  /* IE9 Compat Modes */
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: $color-text;
  font-family: 'Circe', sans-serif;
  @include font-size(16, 24);
  font-weight: 400;
  background-color: $colorBG;
}

#{$heading-selectors} {
  font-family: 'Poppins', sans-serif;
  margin: 0;

  a,
  a:hover,
  a:focus {
    color: var(--color-headline);
    text-decoration: none;
  }

  > em {
    color: var(--color-accent);
    font-style: normal;
  }
}

#modal-root {
  z-index: 10;
}

h1,
.h1 {
  font-weight: 700;
  @include font-size(40, 55);

  @media (min-width: $breakpoint-desktop) {
    @include font-size(30, 45);
  }
}

h2,
.h2 {
  @include font-size(30, 45);
}

h3,
.h3 {
  @include font-size(25, 35);
}

h4,
.h4 {
  @include font-size(20, 30);
}

h5,
.h5 {
  @include font-size(18, 20);
}

h6,
.h6 {
  @include font-size(16, 18);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $breakpoint-mobile-horizontal) {
    background-image: url(../assets/svg/ellipse_tabl1.svg),
      url(../assets/svg/ellipse_tabl2.svg);
    background-repeat: no-repeat;
    background-position: top 100% left 0, top 0 right 0;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background-image: url(../assets/svg/ellipse_desktop1.svg),
      url(../assets/svg/ellipse_desktop2.svg);
    background-repeat: no-repeat;
    background-position: top 100% left 0, top 0 right 0;
  }
}

.container {
  padding: 0;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  @media (min-width: $breakpoint-tablet) {
    gap: 30px;
  }
}

.pageWrapper {
  display: flex;
  align-items: stretch;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
  min-height: 100%;
  flex: 1;
  position: relative;

  @media (min-width: $breakpoint-mobile-horizontal) {
    padding: 0 32px;
    &:before {
      content: '';
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      backdrop-filter: blur(40px);
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 16px;
    flex-direction: row;
    gap: 140px;
  }
}

.aside {
  width: 100%;
  @media (min-width: $breakpoint-desktop) {
    max-width: 394px;
    position: relative;
    &:before {
      content: '';
      width: 2px;
      height: 100%;
      box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
        1px 0px 0px rgba(255, 255, 255, 0.6);
      display: block;
      position: absolute;
      top: 0;
      right: -69px;
    }
  }
}

.aside,
.main {
  display: flex;
  height: auto;
  gap: 30px;
  padding: 12px 0;
  flex-direction: column;
  align-items: stretch;
  z-index: 2;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    padding: 32px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 45px 0;
    flex-direction: column;
  }
}

.main {
  width: 100%;
  position: relative;
}

.custom-toast {
  color: $mainColor;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}
.Toastify__toast-icon svg {
  fill: $mainColor;
}
.Toastify__progress-bar--success {
  background: $mainColor;
}

/* Class for text that should only be visible to screen readers */

.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}

.textAlignR {
  text-align: right;
}

.textAlignL {
  text-align: left;
}

.contentMaxWidth {
  max-width: $contentMaxWidth;
  width: 100%;
  margin: 0 auto;
}

.button {
  @include font-size(18, 20);
  letter-spacing: 0.1em;
  appearance: none;
  border-radius: $button-border-radius-sm;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  outline: none;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  user-select: none;
  border: 1px solid;

  color: $white;
  background-color: $mainColor;
  border-color: $mainColor;

  &:hover,
  &:focus,
  &:active {
    color: $colorBlue;
    background-color: transparent;
    border-color: $colorBlue;
  }

  &:disabled,
  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &--secondary {
    color: $colorBlue;
    background-color: transparent;
    border-color: $colorBlue;

    &:hover,
    &:focus,
    &:active {
      color: $mainColor;
      border-color: $mainColor;
    }
  }

  &--small {
    @include font-size(14, 14);
    text-transform: none;
    padding: 4px 12px;
    flex: auto;
    letter-spacing: 0;
  }
}

// form styles
#{$input-selectors} {
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  &::placeholder {
    color: #e0e0e0;
  }
}

.select__control:hover {
  border-color: blue;
}

.active svg {
  fill: #4a56e2 !important;
  box-shadow: 0px 3px 10px rgba(74, 86, 226, 0.5);
}

.active span {
  font-weight: 700;
  @include font-size(18, 27);
}

.currencymob {
  display: block;
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}
