@import './mixins';
@import './variables';

.mainForm {
  max-width: 530px;
  @media screen and (min-width: $breakpoint-mobile-horizontal) {
    margin: 60px auto;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
  }

  &-form {
    position: relative;
    //
    //
    display: flex;
    flex-direction: column;
    width: 100%;

    svg {
      color: #e0e0e0;
      width: 20px;
    }
  }

  &-logo {
    max-width: 180px;
    margin: 0 auto 60px;
  }

  &-title {
    font-weight: 400;
    font-size: 30px;

    @media screen and (min-width: $breakpoint-desktop) {
      margin-top: 30px;
    }
  }

  &-wrapperImage {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 40%;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
  }

  &-image {
    width: 250px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 40px;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 100%;
      height: 420px;
      margin-right: 0;
    }
    svg {
      position: absolute;
      width: 100%;
      max-height: 100%;
    }
  }

  &-wrapperForm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    @media screen and (min-width: $breakpoint-desktop) {
      padding: 50px 90px;
      min-height: 100vh;
      width: 60%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($white, 0.4);
        backdrop-filter: blur(25px);
      }
    }
  }

  &-wrapperFormInner {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    background-color: $white;
    max-width: 530px;
    width: 100%;
    margin: auto;

    @media screen and (min-width: $breakpoint-mobile-horizontal) {
      border-radius: $button-border-radius-l;
      padding: 40px 60px;
      min-height: initial;
    }

    .button {
      margin: 0 auto;
      flex: auto;
      max-width: 300px;
      width: 100%;
    }

    .button + .button {
      margin-top: 20px;
    }
  }
  .input {
    margin-bottom: 40px;
  }

  .inputRef{
    margin-bottom: 0;
  }

  .safe_password {
    background: transparent !important;
    margin-bottom: 40px;
  }
}
